<div *ngIf="this.etatChargement == 'fait'">
  <ng-container *ngIf="exercice.id === 0; else modifyRoutine">
    <h2>Nouvel exercice</h2>
  </ng-container>
  <ng-template #modifyRoutine>
    <h2>Modifier l'exercice #{{exercice.id}}</h2>
  </ng-template>

  <form #formulaire="ngForm" (ngSubmit)="onSubmit(formulaire)">
    <div class="form-group">
      <label for="typesExo">Types d'exercices</label>
      <select [(ngModel)]="exercice.name" ngModel required name="typesExo" id="name" class="form-control">
        <option *ngFor="let exerciceType of exerciceTypesList" [value]="exerciceType.name">
          {{ exerciceType.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="rep">Répétitions</label>
      <input [(ngModel)]="exercice.repetitions" required ngModel minlength="3" maxlength="50" type="number" name="rep"
        id="rep" class="form-control" />
    </div>
    <div class="form-group">
      <label for="weight">Poids</label>
      <input [(ngModel)]="exercice.weight" required ngModel minlength="3" maxlength="50" type="number" name="weight"
        id="weight" class="form-control" />
    </div>
    <div class="d-flex btn-group mt-2">
      <button class="btn btn-outline-success" type="submit" [disabled]="!formulaire.valid">
        {{ exercice.id === 0 ? "Créer" : "Modifier" }}
      </button>
      <ng-container *ngIf="!ajoutDansRoutine">
        <a routerLink="/exercices" class="btn btn-outline-danger">Annuler</a>
      </ng-container>
    </div>
  </form>
</div>