
<form #formRecherche="ngForm"  (ngSubmit)="onRecherche(formRecherche)" >
  <div class="d-flex btn-group mt-2">
    <span class="input-group-text">Etat :</span>
    <select [ngModel]="etatFiltrage" name="etat" id="etat" class="form-control" (change)="onRecherche(formRecherche)">
      <option value="">Tous les états</option>
      <option
        *ngFor="let etat of etatTache|keyvalue"
        [value]="etat.value"
      >{{etat.value}}</option>
    </select>
    <span class="input-group-text">Contenu :</span>
    <input [ngModel]="queryFiltrage" class="form-control" type="text" name="txt" placeholder="tous contenus">
    <button class="btn btn-primary" type="submit">Rechercher</button>
    <button class="btn btn-secondary" type="button" (click)="onRAZ(formRecherche)">RAZ</button>
  </div>
</form>

<div *ngIf="etat==etatChargement.LOADING"  class="alert alert-dismissible alert-info">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Chargement en cours...</h4>
  <p class="mb-0">Merci de patienter quelques instants</p>
</div>
<div *ngIf="etat==etatChargement.ERROR" class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Service non disponible</h4>
  <p class="mb-0">veuillez réessayer dans quelques instants</p>
</div>
<div *ngIf="etat==etatChargement.LOADED">

  <ng-container *ngIf="taches|async as listeTaches">
    <h2> <b><span data-testid="nbtaches">{{ listeTaches.length }}</span></b>
      tâches enregistrées</h2>
    <ul class="list-group mb-2">

      <app-tache-item id="tache.id"
          *ngFor="let tache of listeTaches"
          [tache]="tache"></app-tache-item>

    </ul>
    <div class="d-flex btn-group mt-2">
      <a routerLink='/tache/new' class="btn btn-info">Nouvelle tache</a>
    </div>
  </ng-container>

</div>


