<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    > 
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <a class="navbar-brand text-white fs-1" routerLink="/">
        &nbsp;&nbsp;Fitness Routines</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white fs-4" routerLink="/routines">Routines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4" routerLink="/exercices">Exercices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4" routerLink="/typeExercice">Type d'exercice</a>
        </li>
      </ul>
    </div>
  </div>
</nav><br>
