<div *ngIf="this.etatChargement == 'fait'">
    <h2>Nouvelle routine</h2>
  
    <form #formulaire="ngForm" (ngSubmit)="onSubmit(formulaire)">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input [(ngModel)]="routine.name" required ngModel minlength="3" maxlength="50" type="text" name="nom" id="nom"
          class="form-control" />
      </div>
      <div class="form-group">
        <label for="etat">Etat</label>
        <select [(ngModel)]="routine.status" ngModel required name="etat" id="etat" class="form-control">
          <option *ngFor="let etat of etatRoutine | keyvalue" [value]="etat.value">
            {{ etat.value }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="memo">Description</label>
        <textarea [(ngModel)]="routine.description" required ngModel maxlength="256" name="memo" id="memo" cols="30" rows="3"
          class="form-control"></textarea>
      </div>

      <div class="d-flex btn-group mt-2">
        <button class="btn btn-outline-success" type="submit" [disabled]="!formulaire.valid">
          {{ routine.id === 0 ? "Créer cette routine" : "Modifier cette routine" }}
        </button>
        <a routerLink="/routines" class="btn btn-outline-danger">Annuler</a>
      </div>
    </form>
    <app-exercice-list [routineId]="routine.id"></app-exercice-list>
</div>