<div *ngIf="etatChargement === 'en cours'" class="d-flex justify-content-center align-items-center vh-100">
  <h3 id="txt-loading">Chargement . . .</h3>
  <div class="progress w-50 custom-height">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
      aria-valuemin="0" aria-valuemax="100" [style.width.%]="valBarreChargement" [style.transition]="'width 0.05s linear'">
    </div>
  </div>
</div>

<div *ngIf="etatChargement == 'erreur'" class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4>Service non disponible.</h4>
  <p>Veuillez réessayer dans quelques instants.</p>
</div>

<div *ngIf="etatChargement == 'fait'">
  <!-- <div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    Chargement réussi.
  </div> -->
  <a id="font-size" routerLink="/routine/new" class="btn btn-outline-primary">
    <i class="fa-solid fa-plus"></i>
    Nouvelle routine</a>
  <hr />
  <h2>
    <b>{{ routinesBySearch.length }}</b> Routines enregistrées
  </h2>
  <div class="largeur">
    <div id="container" class="d-inline-flex">
      <label id="lab-etat" for="choix-etat" class="form-label mt-4">Etat :</label>
      <select [(ngModel)]="etatChoisi" (ngModelChange)="updateEtat($event)" class="form-select" id="choix-etat">
        <option value="tout" selected>tout</option>
        <option *ngFor="let etat of etatRoutine | keyvalue" [value]="etat.value">
          {{ etat.value }}
        </option>
      </select>
      <input [(ngModel)]="recherche" (ngModelChange)="updateRecherche($event)" id="search-bar"
        class="form-control me-sm-2" type="search" placeholder="Rechercher une tâche" />
      <label id="lab-etat" for="choix-etat" class="form-label mt-4">Sélection :</label>
      <select [(ngModel)]="etatChoisiSelection" ngModel (ngModelChange)="updateEtatSelection()" [disabled]="this.selectedRoutinesIds.length < 1"
        class="form-select" id="choix-etat">
        <option *ngFor="let etat of etatRoutine | keyvalue">
          {{ etat.value }}
        </option>
      </select>
      <div class="right-margin" *ngIf="this.selectedRoutinesIds.length > 0">
        <button class="btn btn-outline-dark" (click)="onSupprime()">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
      <div id="checkbox" class="checkbox" bis_skin_checked="1">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="selectAllChecked"
          (ngModelChange)="toggleSelectAll()" />
      </div>
    </div>
    <ul class="list-group">
      <app-routines-item *ngFor="let routine of routinesBySearch || []" [routine]="routine"
        [isSelected]="isRoutinesSelected(routine.id)" (checkboxChange)="onRoutinesCheckboxChange($event, routine.id)">
      </app-routines-item>
    </ul>
  </div>
</div>
<br /><br />