<div *ngIf="this.etatChargement == 'fait'">
    <div id="container" class="d-inline-flex">
        <div class="card bg-secondary mb-3" style="max-width: 20rem">
            <span class="badge bg-success" style="font-size: 20px" class="bg-info"></span>
            <div class="card-header">#{{ exercice.id }} {{ exercice.name }}</div>
            <p class="card-text" style="text-align: center">
                répétitions: {{ exercice.repetitions }} <br>
                poids : {{exercice.weight}} <br>
            </p>
        </div>
        <button id="edit-button" class="btn btn-outline-dark" routerLink="/exercice/edit/{{ exercice.id }}">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
        </button>
    </div>
    <hr />
    <a routerLink="/routines" class="btn btn-outline-primary">Retour à la liste des exercices</a>
</div>