<div *ngIf="etatChargement === 'en cours'" class="d-flex justify-content-center align-items-center vh-100">
    <h3 id="txt-loading">Chargement . . .</h3>
    <div class="progress w-50 custom-height">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 75%; transition: width 0.1s linear"></div>
    </div>
</div>

<div *ngIf="etatChargement == 'erreur'" class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4>Service non disponible.</h4>
    <p>Veuillez réessayer dans quelques instants.</p>
</div>

<div *ngIf="etatChargement == 'fait'">
    <a style="font-size: 22px; border-radius: 5px;" routerLink="/exercicetype/new" class="btn btn-outline-primary">
        <i class="fa-solid fa-plus"></i>
        Nouveau type exercice</a>
    <hr />
    <h2>
        <b>{{ exerciceTypesBySearch.length }}</b> types exercices enregistrées
    </h2>
    <div class="largeur">
        <div id="container" class="d-inline-flex">
            <input [(ngModel)]="recherche" (ngModelChange)="updateRecherche($event)" id="search-bar"
                class="form-control me-sm-2" type="search" placeholder="Rechercher un exercice" />
            <div class="right-margin" *ngIf="this.selectedExercicesTypesIds.length > 0">
                <button class="btn btn-outline-dark" (click)="onSupprime()">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
            <div id="checkbox" class="checkbox" bis_skin_checked="1">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                    [(ngModel)]="selectAllChecked" (ngModelChange)="toggleSelectAll()" />
            </div>
        </div>
        <ul class="list-group">
            <br><app-exercice-type-item *ngFor="let exercice of exerciceTypesBySearch || []" [exerciceType]="exercice"
                [isSelected]="isTaskSelected(exercice.id)" (checkboxChange)="onTaskCheckboxChange($event, exercice.id)">
            </app-exercice-type-item>
        </ul>
    </div>
</div><br>