<li class="list-group-item bg-" >
    <div class="d-flex justify-content-between">
        <p>{{ exercice.name }}</p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-dark" routerLink="/exercice/{{ exercice.id }}">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </button>&nbsp;
            <button class="btn btn-outline-dark" routerLink="/exercice/edit/{{ exercice.id }}">
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
            </button>&nbsp;
            <button class="btn btn-outline-dark" (click)="onSupprime()">
                <i class="fa-solid fa-trash"></i>
            </button>
            <input class="form-check-input switch-right" type="checkbox" value="" id="flexCheckChecked"
                [checked]="isSelected" (change)="onCheckboxChange($event)" />
        </div>
    </div>
</li>